:root{
    --background-color-light: rgb(252, 252, 252);
    --color-white: white;
    --color-white-off: rgb(254, 254, 254);
    --color-grey: grey;
    --color-dark: rgb(45, 45, 45);
    --color-dark-tr: rgba(45, 45, 45, 0.1);
    --shadow-1: rgba(20, 93, 240, 0.23) 0px 10px 24px;
    --shadow-2: rgba(26, 28, 32, 0.1) 2px 2px 6px;
    --color-primary: rgb(52, 152, 219);
    --color-primary-dark: rgb(40, 120, 180);
    --color-primary-light: rgb(200, 220, 335);
    --color-primary-tr: rgba(52, 152, 219, 0.1);
    --color-secondary: rgb(236, 240, 241);
    --color-secondary-tr: rgba(236, 240, 241, 0.2);
    --color-secondary-dark: rgb(90, 94, 95);
    --color-success: rgb(46, 204, 113);
    --color-success-tr: rgba(46, 204, 113, 0.1);
    --color-success-dark: rgb(39, 174, 96);
    --color-success-dark: rgb(39, 174, 96);
    --color-danger: rgb(231, 76, 60);
    --color-danger-tr: rgba(231, 76, 60, 0.1);
    --green-gradient: linear-gradient(90deg,
    rgba(0,255, 122, 1) 0%,
    rgb(125, 227, 231) 45%,
    rgb(70, 255, 190) 100%);
    --brown-gradient: linear-gradient(90deg,
    rgb(255, 202, 133) 0%,
    rgb(78, 204, 243) 55%,
    rgb(246, 189, 104) 100%);
    --light-blue: rgb(213, 244, 253);
}

.alert{
    padding: 1.5em 2em 1.5em 2em;
    height: fit-content;
    width: 100%;
    border-radius: 0.2rem;
    border: none;
    transition: 230ms;
    font-size: 0.78em;
}
.alert-danger{
    border: 2px solid var(--color-danger);
    background-color: var(--color-danger-tr);
    color: var(--color-danger);
}
.alert-success{
    border: 2px solid var(--color-success);
    background-color: var(--color-success-tr);
    color: var(--color-success-dark);
}
.btn{
    padding: 0.53em 0.9em 0.53em 0.9em;
    height: fit-content;
    width: fit-content;
    border-radius: 0.2rem;
    border: none;
    transition: 230ms;
}
.b-rd-1{
    border-radius: 0.4em;
}
.b-rd-2{
    border-radius: 0.8em;
}
.b-rd-3{
    border-radius: 1.2em;
}
.b-rd-4{
    border-radius: 1.6em;
}
.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn-primary-outline{
    border: 2px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}
.btn-secondary{
    background-color: var(--color-secondary);
    color: var(--color-grey);
}
.btn-secondary-outline{
    border: 2px solid var(--color-grey);
    background-color: transparent;
    color: var(--color-dark);
}
.btn-danger{
    background-color: var(--color-danger);
    color: var(--color-white);
}
.btn-danger-outline{
    border: 2px solid var(--color-danger);
    background-color: transparent;
    color: var(--color-danger);
}
.btn-success{
    background-color: var(--color-success);
    color: var(--color-white);
}
.btn-success-outline{
    border: 2px solid var(--color-success);
    background-color: transparent;
    color: var(--color-success);
}
.btn-light{
    background-color: var(--color-light);
    color: var(--white);
}
.btn-light-outline{
    border: 2px solid var(--color-light);
    background-color: transparent;
    color: var(--color-light);
}
.btn-dark{
    background-color: var(--color-dark);
    color: var(--color-white);
}
.btn-dark-outline{
    border: 2px solid var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
}
.msg{
    padding: 1em 1.5em 1em 1.5em;
    margin: auto;
    height: fit-content;
    width: 80%;
    border-radius: 0.2rem;
}
.msg-primary{
    background-color: var(--color-primary-tr);
    border: 2px solid;
    border-color: var(--color-primary);
    color: var(--color-primary-dark);
}
.msg-secondary{
    background-color: var(--color-secondary-tr);
    border: 2px solid;
    border-color: var(--color-secondary-dark);
    color: var(--color-secondary-dark);
}
.msg-danger{
    background-color: var(--color-danger-tr);
    border: 2px solid;
    border-color: var(--color-danger);
    color: var(--color-danger);
}
.msg-success{
    background-color: var(--color-success-tr);
    border: 2px solid;
    border-color: var(--color-success-dark);
    color: var(--color-success-dark);
}
.msg-dark{
    background-color: var(--color-dark-tr);
    border: 2px solid;
    border-color: var(--color-dark);
    color: var(--color-dark);
}
